numpy==1.21.1
pandas==1.3.4
scipy==1.8.1
Shapely==2.0.0
httpx==0.25.1
plotly==5.18.0

# other requirements
uvicorn[standard]
fastapi==0.95.0
gunicorn==20.1.0
orjson==3.8.8
pydantic==1.10.7
polars
openpyxl
pyarrow

# pytest
pytest==7.2.1
pytest-asyncio==0.20.3
pytest-sugar==0.9.7
pytest-mock==3.11.1